@charset "UTF-8";

@font-face{
	font-family: "n";
	src: url("n.ttf");
}

body{
	background-image: url("rulet.jpg");
	background-size: 50%;
	font-family: "n";
}

#hjTbl{
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

th{
	background-color: #E9ffE0;
	color: #034F83;
	font-size: 30pt;
	height: 50pt; 
}

img{
	width: 250px;
	height: 250px;
	border: #E9FFE0 solid 4px;
	border-radius: 20px;
}

#hjTbl .td1{
	background-color: #E9FFE0;
	font-size: 30pt;
}
